<!DOCTYPE html>
<html lang="en" @view="portal/master-back-portale"> 
    <head @ignore>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BackOffice - nuovo procedimento</title>
    </head>
    <body>

		<script src="https://unpkg.com/vuetable-2@1.6.0"></script>
        <div id="app">
            <App></App>
        </div>

        <!-- Proceeding .js -->
        <script type="module" src="/static/backOffice/js/proceeding/proceeding-create.js?no-cache"></script>
        <script @server id="data-serviceList" type="application/json" src="/portale/v1/service"></script>
        <script @server id="data-configurations" type="application/json" src="/bpm/v1/configurations"></script>
    </body>
</html>
