<!DOCTYPE html>
<html lang="en" @view="portal/master-back-portale"> 
    <head @ignore>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BackOffice - Procedimenti</title>
    </head>
    <body>

		<script src="https://unpkg.com/vuetable-2@1.6.0"></script>
        <div id="app">
            <App></App>
        </div>

        <!-- proceeding.js -->
        <script type="module" src="/static/backOffice/js/proceeding/proceeding.js?no-cache"></script>
    </body>
</html>
