<html @view="master.ftl">
<head @ignore>
    <base href="file:///C:/Users/daniele.damiani/Desktop/vuetest/">
    <title>Search Protocollo</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="vendor/jquery-3.5.1.min.js"></script>
    <script src="vendor/jquery-migrate-3.3.0.min.js"></script>
    <script>
        axios.interceptors.request.use(function(config) {
            config.headers.KS_AUTH_GROUP = "admin|ANM|ANM_AOO|SYS_ADMINS|admins";
            return config;
        });
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap" rel="stylesheet"><!-- Google Font Roboto-->
    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css"><!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/base-style.css"><!-- css presonalizzato -->
    <link rel="stylesheet" href="vendor/fontawesome/all.min.css"><!-- icone -->
    <script src="vendor/moment.js"></script><!-- moment -->
    <script src="vendor/vue-scrollto.js"></script><!-- scrollto -->
    <script src="vendor/popper-1.14.7.min.js"></script>
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/modal-style.css">
</head>

<body class="body">

<script type="application/json" id="messages-model" @server src="/messages?filter=viewProfile.**,viewNavList.**,label.**,listaRisultati.**,listaAnagrafiche.**,searchDocument.**,common.**"></script>

<link rel="stylesheet" href="/static/css/doc-style.css">

<div id="resultSearch" v-cloak>

    <br>
    <div class="card">
            
        <span class="page-type"><i class="bi bi-three-dots-vertical mainColor"></i>{{messages["searchDocument.cerca"] || "Cerca"}} </span>
        
        <div class="space-1h"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label class="labelNew">{{messages["searchDocument.nomeDocumento"] || "Nome documento"}}</label>
                    <input class="form-control nameToBuildPayload" type="text" name="DOCNAME" v-model="paramSearch.DOCNAME">
                </div>
                <div class="col-md-6">
                    <label class="labelNew">{{messages["searchDocument.docnum"] || "Docnum"}}</label>
                    <input class="form-control nameToBuildPayload" type="text" name="DOCNUM" v-model="paramSearch.DOCNUM">
                </div>
            </div>
            <div class="space-1h"></div>
            <div class="row">
                <div class="col-md-6">
                    <label class="labelNew">{{messages["searchDocument.creatoDa"] || "Creato da"}}</label>
                    <input class="form-control nameToBuildPayload" type="text" name="CREATOR" v-model="paramSearch.CREATOR">
                </div>
                <div class="col-md-6">
                    <label class="labelNew">{{messages["searchDocument.dataCreazione"] || "Data creazione"}}</label>
                    <input class="form-control nameToBuildPayload" type="date" name="CREATION_DATE" v-model="paramSearch.CREATION_DATE">
                </div>
            </div>
            <div class="space-1h"></div>
            <div class="row">
                <div class="col-md-6">
                    <label class="labelNew">{{messages["searchDocument.modificatoDa"] || "Modificato da"}}</label>
                    <input class="form-control nameToBuildPayload" type="text" name="MODIFIER" v-model="paramSearch.MODIFIER">
                </div>
                <div class="col-md-6">
                    <label class="labelNew">{{messages["searchDocument.dataModifica"] || "Data modifica"}}</label>
                    <input class="form-control nameToBuildPayload" type="date" name="MODIFIED" v-model="paramSearch.MODIFIED">
                </div>
            </div>
        </div>
        <div class="space-1h"></div>
        
    </div>    

    <div class="space-1h"></div>
    <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
            <button @click="search()" class="btn btn-default btn-block"><i class="bi bi-search mainColor"></i> {{messages["listaAnagrafiche.cerca"] || "Cerca"}}
            </button>
        </div>
    </div>        

    </div>


</div><!-- chiusura resultSearch-->



<script >
    
    //abilito tooltip
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    });

    //metodi globali
    Vue.mixin({
        methods: {
            moment: function(date) {
                return moment(date);
            },
            date: function(date) {
                return moment(date).format('DD/MM/YYYY HH:mm:ss');
            },
            
        },
    })

    
    var app = new Vue({
        el: '#resultSearch',
        data: function() {
            return {
                messages: JSON.parse($("#messages-model").text()),
                paramSearch:[]
            }
        },
        methods: {
            search: function(){

                var body = {}
                //parte dinamica in base alla tipologia
                $('.nameToBuildPayload').each(function() {
                    body[$(this).attr('name')]= $(this).val(); //mappa    
                });

                //rimuovo attributi vuoti nel body
                for (var propName in body) {
                    if (body[propName] == "") {
                        delete body[propName];
                    }else{
                        //aggiungo * per ricerca parziale
                        body[propName] = body[propName]+"*";
                    }
                }
                
                const searchParams = new URLSearchParams(body);
                var searchUrl = searchParams.toString();

                /*if(searchUrl){
                    window.location.href = "/documenti/listaRisultati?fq=TYPE_ID:DOCUMENTO&"+searchUrl+"&sort=modified_on%20desc";    
                }else{
                    window.location.href = "/documenti/listaRisultati?fq=TYPE_ID:DOCUMENTO&sort=modified_on%20desc";    
                }*/
            },
        	
        }
    });
    
    

</script>

</body>

</html>