
form[id='formBuilder'] {
    min-height:unset !important;
}

form[id='formBuilder'] ul.nav li {
    padding-right:5px
}

form[id='formBuilder'] ul.nav li a.active {
    color: black;
}

form[id='formBuilder'] h2[tag-attributes] {
    margin-bottom: .5rem !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    font-size: 1.25rem !important;
    color: unset!important;
}
