<modal :show="show" @close="close">
    <div slot="header" class="col-md-12">
        <div class="modalTitle col-sm-12">{{messages["viewProfile.cronologiaDoc"] || "Cronologia Documento"}}</div>
    </div>
    <div slot="body">
        <div class="card">
            <table class="table table-sm table-striped">
                <thead>
                <tr>
                    <th style="width: 25%">{{messages["viewProfile.utente"] || "Utente"}}</th>
                    <th style="width: 25%; text-align: center;">{{messages["viewProfile.data"] || "Data"}}</th>
                    <th style="width: 20%; text-align: center;">{{messages["viewProfile.operazione"] || "Operazione"}}</th>
                    <th style="width: 30%;">{{messages["viewProfile.dettaglio"] || "Dettaglio"}}</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="item in history">
                        <td>{{item.username}}</td>
                        <td>{{date(item.timestamp)}}</td>
                        <td style="text-align: center;">
                            <template v-if="item.type == 'CREATED'">Creazione</template>
                            <template v-else-if="item.type == 'UPDATE'">Aggiornamento</template>
                            <template v-else>Eliminazione</template>
                        </td>
                        <td>
                        	{{accapo(item.info)}}
                        	<!--
                            <template v-if="item.info.includes('NUM_PG')">Protocollato</template>
                            <template v-else-if="item.info.includes('N_REGISTRAZ')">Registrato</template>
                            <template v-else-if="item.info.includes('MITTENTI') || item.info.includes('DESTINATARI') || item.info.includes('OGGETTO_PG')">Annullamento Parziale</template>
                            <template v-else-if="item.info.includes('P_ANNULL_PG')">Annullamento Protocollo</template>
                            <template v-else-if="item.info.includes('P_ANNULL_REGISTRAZ')">Annullamento Registrazione</template>
                            <template v-else-if="item.info.includes('related')">Allegati</template>
                            <template v-else> {{accapo(item.info)}} </template>
                        	-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <div class="col-md-12 footer-modal">
            <div class="col-md-3 float-left">
                <button type="submit" class="btn btn-default btn-block modal-btn-annulla" @click="$emit('close')">{{messages["viewProfile.chiudi"] || "Chiudi"}}</button>
            </div>
        </div>
    </div>
    
</modal>