<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{360} - %msg%n</Pattern>
    </encoder>
  </appender>
  
	<logger name="org.opensaml">
    <level value="WARN" />
  </logger>
    
  <root>
  	<appender-ref ref="STDOUT" />
    <level value="WARN" />
  </root>

</configuration>