<!DOCTYPE html>
<html lang="en" @view="portal/master-portale">
    <head @ignore>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Profilo</title>
    </head>
    <body>
        <script>
            var username = '${$.userInfo.username}';
        </script>
        <div id="app">
            <App></App>
        </div>

        <!-- My profile .js -->
        <script type="module" src="/static/portal/js/user/myProfile.js?no-cache"></script>
        
    </body>
</html>
