<modal :show="show" @close="close">
    <div slot="header" style="padding-left:0px;padding-right: 0px;" class="btn-group col-md-12" role="group">
        <button id="btnShare" @click="showShare" type="button" class="btn btn-primary col-md-4"><i class="bi bi-people"></i> {{messages["viewProfile.gestioneDiritti"] || "Gestione Diritti"}}</button>
        <button id="btnSendLink" @click="showSendLink" type="button" class="btn btn-default col-md-4"><i class="bi bi-link-45deg"></i> {{messages["viewProfile.condividi"] || "Condividi"}}</button>
        <button id="btnSendDoc" @click="showSendDoc" type="button" class="btn btn-default col-md-4"><i class="bi bi-cursor"></i> {{messages["viewProfile.inviaDocumento"] || "Invia documento"}}</button>
    </div>
    <div slot="body">
        <div id="shareDoc">
            <div style="text-align: center;" class="alert alert-secondary" role="alert">
                <span class="infoAcl">{{messages["viewProfile.dirittiAttuali"] || "Attualmente i tuoi diritti sono"}}: <span class="textAcl"> {{dirittiUser}}</span></span>
            </div>
            <template v-if="userOrGroup.length>0">
            <div class="card">
                <table style="background-color: #f9f9f9" class="table table-sm">
                    <thead>
                    <tr>
                        <th colspan="3" style="text-align: center;background-color: #e2e3e5">{{messages["viewProfile.elencoDiritti"] || "Elenco diritti ereditati"}}</th>
                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <th style="width: 40%;">{{messages["viewProfile.utenteGruppo"] || "Utente / Gruppo"}}</th>
                        <th style="width: 20%; text-align: center;">{{messages["viewProfile.diritti"] || "Diritti"}}</th>
                        <th style="width: 40%; text-align: center;">{{messages["viewProfile.ereditatoDa"] || "Ereditato da"}}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding-left: 8px;">
                                <ul class="aclTableFirst" v-for="(u,i) in userOrGroup" :key="i"><li>{{u}}</li></ul>
                            </td>
                            <td>
                                <ul class="aclTable" v-for="(a,i) in aclUserOrGroup" :key="i"><li>{{aclIta(a)}}</li></ul>
                            </td>
                            <td>
                                <ul class="aclTable" v-for="(f,i) in flascicoloOrDocument" :key="i">
                                    <li>
                                        <template v-if="f.includes('/')">
                                            <a :href="'/documenti/viewNaviList?entity=fascicoli&sid=' + decodeTxt(f)">Fascicolo {{decodeTxt(f)}}</a>
                                        </template>
                                        <template v-else>
                                            <a :href="'/documenti/viewNaviList?entity=titolari&sid=' + decodeTxt(f)">Titolario {{decodeTxt(f)}}</a>
                                        </template>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </template>
            <template v-else>
                <div class="infoAclEreditati">Il documento non eredita diritti</span>
            </template>
        
            <div class="space-1h"></div>

            <div class="card">
                <table style="background-color: #f9f9f9" class="table table-sm">
                    <thead>
                    <tr>
                        <th style="width: 55%;">{{messages["viewProfile.utenteGruppo"] || "Utente / Gruppo"}}</th>
                        <th style="width: 45%; text-align: center;">{{messages["viewProfile.diritti"] || "Diritti"}}</th>
                    </tr>
                    </thead>
                    <tbody>
                </table>
                <div class="space-1h"></div>
                <div style="width: 100%">
                    <div style="float: left; width: 60%;">
                        <div style="margin-bottom: 2px; margin-left: 10px" v-for="(fasc, index) in userAcl">
                                <select2 :id="'test_'+index" :value="userAcl[index]" v-on:changed="userAcl[index]=$event.id" class="form-control" url="/docer/v1/solr/select?database=false&fq=type:(user group)&wt=json&fl=sid,text:name&q=name:..." multiple="false"></select2>
                        </div>
                    </div>
                    <div style="float: left; width: 40%;margin-bottom: 2px;" v-for="(a, index) in dirittiAcl">
                        <select style="height: 38px;float: left;width: 80%; margin-left: 1%" class="form-control" v-model="nuoveAcl[index]">
                          <option v-for="option in options" v-bind:value="option.value">
                            {{ option.text }}
                          </option>
                        </select>
                        <button style="width: 15%;margin-left: 1%;height:38px;" @click="deleteUtente(index)" class="btn btn-danger"><i style="color: #fff;" class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="space-1h"></div>
                <div class="col-md-12">
                    <button :disabled="documento.permissions.indexOf('aclWrite')==-1" id="btn-addUser" @click="addUtente" class="btn btn-primary btn-100 col-md-2 float-left">{{messages["viewProfile.aggiungi"] || "Aggiungi"}}</button>
                </div>
                <div class="space-1h"></div>
            </div>
            
        </div> 

        <div id="sendLink" style="display: none;">

            <div class="form-group">
                <span class="labelNew">{{messages["viewProfile.destinatari"] || "Destinatari"}}</span>
                <div class="space-h"></div>
                
                <select2 :value="destinatariInterni" v-on:changed="destinatariInterni=$event.ids" class="form-control" url="/docer/v1/solr/select?database=false&fq=type:(user group)&wt=json&fl=sid,text:name&q=name:..." multiple="true"></select2>

            </div>
            <hr>
            <div class="form-group">
                <label class="labelNew">{{messages["viewProfile.oggetto"] || "Oggetto"}}</label>
                <input class="form-control" v-model="oggettoMailCondividi"></input>
            </div>
            <div class="form-group">
                <label class="labelNew">{{messages["viewProfile.messaggio"] || "Messaggio"}}</label>
                <textarea class="form-control" rows="4" v-model="bodyMailCondividi"></textarea>
            </div>
        </div>

        <div id="sendDoc" style="display: none;">

            <div class="form-group">
                <span class="labelNew">{{messages["viewProfile.destinatari"] || "Destinatari"}}</span>
                <div class="space-h"></div>
                <select2 placeholder="inserire tags" :value="tags" v-on:changed="tags=$event.ids" class="form-control" tags="true" multiple="true"></select2>
            </div>
            <hr>
            <div class="form-group">
                <label class="labelNew">{{messages["viewProfile.oggetto"] || "Oggetto"}}</label>
                <input class="form-control" v-model="oggettoMailInvia"></input>
            </div>
            <div class="form-group">
                <label class="labelNew">{{messages["viewProfile.messaggio"] || "Messaggio"}}</label>
                <textarea class="form-control" rows="4" v-model="bodyMailInvia"></textarea>
            </div>

            <div class="card">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th style="width: 45%">{{messages["viewProfile.selezionaDocDaInviare"] || "Selezionare i documenti da inviare"}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(doc,i) in listaAllegati" :key="i" v-if="(doc.TIPO_COMPONENTE||'ALLEGATO')">
                            <td>
                                <input type="checkbox" :id="doc.DOCNUM" :value="doc.DOCNUM" name="doc" v-model="checkedFiles"/>
                                <label :for="doc.DOCNUM"></label>
                                <span class="separator">|</span>
                                <span v-if="estensione(doc.DOCNAME) == 'pdf'"> <i class="far fa-file-pdf"></i></span>
                                <span v-else-if="estensione(doc.DOCNAME) == 'doc' || estensione(doc.DOCNAME) == 'ocx'"> <i class="far fa-file-word"></i></span>
                                <span v-else-if="estensione(doc.DOCNAME) == 'xls'"><i class="far fa-file-excel"></i></span>
                                <span v-else-if="estensione(doc.DOCNAME) == 'p7m' || estensione(doc.DOCNAME) == 'eml'"><i class="far fa-envelope-open"></i></span>
                                <span v-else><i class="far fa-file-code"></i></span>
                                <a :href="'/docer/v1/documenti/' + listaAllegati[i].DOCNUM + '/file' ">{{ doc.DOCNAME }} ({{ doc.DOCNUM }})</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="space-1h"></div>
            <span style="font-size: 14px;">
                <label style="font-weight: normal;" class="form-check-label" for="mezzoTrasmissione">{{messages["viewProfile.mezzo"] || "Mezzo di trasmissione"}}:</label>
                <span style="margin-left: 30px;">
                    <input class="form-check-input" type="radio" v-model="mezzo" value="PEO"> PEO
                </span>
                <span style="margin-left: 30px;">
                    <input class="form-check-input" type="radio" v-model="mezzo" value="PEC" disabled>PEC
                </span>
            </span>
        </div>

        <div class="space-1h"></div>
        <div style="display: none;" id="errMsg-share" class="alert alert-danger div-alert-warning"></div>
        <div style="display: none;" id="errMsg-acl" class="alert alert-danger div-alert-warning"></div>
        <div style="display: none;" id="errMsg-sendLink" class="alert alert-danger div-alert-warning"></div>
        <div style="display: none;" id="errMsg-sendDoc" class="alert alert-danger div-alert-warning"></div>

        <div class="col-md-12 footer-modal">
            <div class="col-md-3 float-left">
                <button type="submit" class="btn btn-default btn-block modal-btn-annulla" @click="$emit('close')">{{messages["viewProfile.chiudi"] || "Chiudi"}}</button>
            </div>
            <div class="col-md-3 float-right">
                <button type="submit" class="btn btn-primary btn-block modal-btn-conferma" @click="confermaCondivisione()">{{messages["viewProfile.conferma"] || "Conferma"}}</button>
            </div>
        </div>

    </div>

</modal>